.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  }

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    background-image: linear-gradient(120deg,#12c2e9,#c471ed,#f64f59);
    color: white;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
  }
  header{
    font-size: large;
    margin: 20px;
    padding: 10px;
  }
  header,
   form{
    display: flex;
    justify-content: center;
    text-align: center;
  }
 